body {
    margin: 0 auto;
}

body, html, section {
    width: 100%;
    height: 100%
}

.mySlides {display:none;}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Allura', cursive;
    font-size: 5vw;
    text-align: center;
}

.slide-1-text-shadow {
text-shadow: 2px 2px 8px #a84242;
}

body, html {
  height: 100%;
}

.fs-img-1 { 
  /* The image used */
  background-image: url("../img/slide-1-beach.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    
.fs-img-2 { 
  /* The image used */
  background-image: url("../img/slide-3-stars.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fs-img-3 { 
  /* The image used */
  background-image: url("../img/slide-2-birds.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fs-img-4 { 
  /* The image used */
  background-image: url("../img/slide-8-person.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}